<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card>

    <ion-item>
      <ion-label position="floating" class="float-cor">Título</ion-label>
      <ion-input type="text" name="titulo"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating" class="float-cor">Categoria</ion-label>
      <ion-select>
        <ion-select-option value="" selected>Nenhum</ion-select-option>
        <ion-select-option value="nes">Comercial</ion-select-option>
        <ion-select-option value="n64">Natureza</ion-select-option>
        <ion-select-option value="ps">Infraestrutura</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="float-cor">Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="datapost"></ion-datetime>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating" class="float-cor" >Descrição</ion-label>
      <ion-textarea rows="4" maxLength="500" type="text"></ion-textarea>
    </ion-item>

      


    

    <!-- <div padding>
      <button ion-button block (click)="abrirGaleria()" icon-only>
        <ion-icon name="book"></ion-icon>Abrir Galeria
      </button>
    </div> -->

    <!-- <button ion-button full (click)="saveConteudo(conteudo)">OK</button> -->

  </ion-card>

  <!-- <div id="map" class="map"></div> -->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="foto_serv.takePic()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button expand="block" (click)="save()">Salvar</ion-button>


</ion-content>